body{
    background-color:grey;
    font-family: Arial,sans-serif;
}
a{
    text-decoration: none;
    color: yellow;
}
h1{
    margin: 0;
}
#container{
    background-color:grey;
    margin-left: auto;
    margin-right: auto;
    width: 1040px;
}
#header{
    background-color:black;
    color: whitesmoke;
    text-align: center;
}
#content{
    padding: 10; 
}
#nav{
    float: left;
    width: 200px;
}
#nav ul{
    list-style-type: none;
    padding: 0;
}
#main{
    float: right;
    width: 800px;
}
#footer{
    clear: both;
    padding: 10;
    text-align: right;
}
